* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar-img {
    max-width: auto;
    max-height: 500px;
    text-align: center;
    background: rgb(155, 155, 155);
}

.sidebar-img img {
    max-width: 100%;
    max-height: 150px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        background-color: #f63232;
    }

    .sidebar a {
        float: left;
    }

    .sidebar-img {
        display: none;
    }

    div.main {
        margin-left: 0;
    }
}

@media screen and (max-width: 412px) {
    .sidebar a {
        text-align: center;
        float: none;
        background-color: #327df6;
    }

    .sidebar-img {
        display: none;
    }

    div.main {
        margin-left: 0;
    }
}

.sidebar a:hover {
    background-color: rgb(184, 184, 184);
    transform: scale(1.5);
    text-align: center;
}

.main {
    margin-left: 200px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.main h1 {
    padding: 10px;
    margin: 20px;
    color: rgb(229, 229, 229);
    background: rgb(119, 119, 119);
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
}

.content-flexbox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 20px;
    border-style: groove;
    justify-content: center;
    align-items: center;
}

.content-flexbox div video {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.content-flexbox div img {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.content-flexbox div iframe {
    width: 100%;
    max-width: 550px;
    height: auto;
}
.content-flexbox div{
    border: 1px solid red;
}

.text-box {
    flex-wrap: nowrap;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.text-box h2 {
    background-color: rgb(119, 119, 119);
    padding: 10px;
    color: #ffffff;
    margin-bottom: 10px;
}

.button1 {
    margin-top: 10px;
    background-color: #327df6;
    border-radius: 10%;
    color: rgb(229, 229, 229);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1>a {
    color: rgb(255, 255, 255);
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: left;
}



.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row {
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}